<ion-header>
  <ion-navbar>
    <ion-title>雨神输赢记录大全</ion-title>
    <ion-buttons end>
      <button ion-button (click)="presentPopover($event)">
        <ion-icon name="more" style="font-size:2.5rem!important;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-refresher (ionRefresh)="refreshData($event)">
  <ion-refresher-content>
    正在加载，请稍后...
  </ion-refresher-content>
</ion-refresher>

<ion-searchbar
  [(ngModel)]="searchInput"
  [showCancelButton]="true"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>

<member-detail *ngFor="let member of membersShow" [member]="member" (deleteMember)="deleteMember($event)" (getMemberData)="presentUserEditModal($event)"></member-detail>

<member-detail *ngFor="let member of members" [member]="member" (deleteMember)="deleteMember($event)" (getMemberData)="presentUserEditModal($event)"></member-detail>
</ion-content>
