user-home {
.user-header{
      background:color($colors,"primary");
  ion-item{
    background:none;
    border:none;
    text-align:center;
  }
  img{
    width: 77px; height: 77px; margin: auto;
  }
}
}
